
body{
  background: rgb(31,31,36);
  background: linear-gradient(135deg, rgba(31,31,36,1) 0%, rgba(175,9,9,1) 49%, rgba(0,74,255,1) 100%);
  font-family: "work sans";
}

html{
  font-size: 100%;
}


h1 {
  color: #FFD700;
  font-family: 'open sans', sans-serif;
}

h2 {
  color: #FFD700;
  font-family: 'open sans', sans-serif;
}

p {
  color: BlanchedAlmond;
  font-family: 'open sans', sans-serif;
}

#logo_img{
  border-radius: 15px;
}

#loginform{
  max-width: 550px;
  min-width: 450px;
  max-height: 800px;
  width: 30%;
  height: 60%;
  margin: 20px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
  color: maroon;
}

.row2{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
}

.row3{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  max-width: 100%;
}

.row input{
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(31,31,36);
  background: linear-gradient(110deg, rgba(31,31,36,1) 0%, rgba(175,9,9,1) 49%, rgba(0,74,255,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

/*li:before {
  content: "";
  position: absolute;
  left: 4px;
  display: inline-block;
  height: 100px;
  width: 30px;
  background-size: contain;*/
  /*background-image: url("images/adminicon3.png");*/
/*}*/

ul {
   list-style-image: url("images/adminicon.png");
}

ul li {
  font-size: 1.1em;
  font-family: 'open sans', sans-serif;
  padding-left: 5px;
  height: 35px;
  color: BlanchedAlmond;
  font-weight: bold;
}

.short_row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
}

a:link {
  margin-left: 14px;
  color: DeepSkyBlue;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: 'open sans', sans-serif;
}

a:hover {
  color: BlanchedAlmond;
}

a:visited {
  color: DeepSkyBlue;
}

#logoutBtn{
  border-radius: 25px;
  width: 23%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(31,31,36);
  background: linear-gradient(110deg, rgba(31,31,36,1) 0%, rgba(175,9,9,1) 49%, rgba(0,74,255,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

.row p {
  display: block;
  text-align: center;
  margin-left: 170px;
  margin-right: 170px;
}

.row2 p {
  display: block;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}


#button{
  padding-bottom: 1.5rem;
}

#line{
  height: 5px;
}

#line2{
  height: 25px;
  color: DimGrey;
}

#selectt {
  height: 10px;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

